h2
{
    font-size: 25px;
    font-weight: bold;
    color: #254611;
}

p{
    font-size: 1.4rem;
    color:#111166;
}

.photo-link{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    overflow: hidden;
    border: 1px solid #000000;
    margin: 35px auto;
}

.photo-link img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section{
    margin-bottom: 20px;
    padding: 0 10%;
}

section h2{
    margin-bottom: 15px;
}

.personal-info p::first-letter{
    color:#ee99ff;
    font-size: 1.4em;
    font-weight: bold;
}

.personal-info p::first-line{
    color:#ff0000;
}

.work-experience ul {
    list-style: none;
    margin-left: 30px;
}

.work-experience ul li
{
    position: relative;
    margin-top: 10px;
    font-size: 1.3rem;
    color:#771199;
}

.work-experience ul li::before {
    content: "\2605 "; /* Звезда */
    color: #ffd700;
    font-weight: bold;
    position: absolute;
    left: -30px;
    top: 0;
}

.work-experience ul li ul li::before {
    content: "→"; 
    color: #daa520; 
    left: -30px;
}

.contact-item {
    margin-bottom: 15px;
<<<<<<< HEAD
    display: inline-block;
    display: flex;
=======
>>>>>>> 9f34c20 (fix:update margins)
}

.contact-item a {
    text-decoration: none;
<<<<<<< HEAD
    color: #666666;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-right: 8px;
    font-size: 1.2rem;
=======
    color: #666;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-right: 7px;
>>>>>>> 9f34c20 (fix:update margins)
}

.contact-item a:hover {
    color: #3498db;
<<<<<<< HEAD
    text-decoration: underline;
=======
    transform: scale(1.05);
>>>>>>> 9f34c20 (fix:update margins)
}

.contact-item svg {
    width: 24px;
    height: 24px;
<<<<<<< HEAD
    fill: #666666;
=======
    fill: #666;
>>>>>>> 9f34c20 (fix:update margins)
    transition: fill 0.3s ease, transform 0.3s ease;
}
.contact-item a:hover svg {
    fill: #3498db;
<<<<<<< HEAD
}

.uppercase{
    text-transform:uppercase;
}

.lowercase
{
    text-transform: lowercase;
}

.bold{
    font-weight: bold;
}

.letter-spaced{
    letter-spacing: 2px;
}

.word-spaced{
    word-spacing: 10px;
}

.personal-info p{
    text-align: center;
}

.backgrounded{
    background-color: #bc8f8f;
=======
>>>>>>> 9f34c20 (fix:update margins)
}