.card {
  color: #fff;
  margin: 200px auto;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: cardAppear 1s both;
  transition: transform 0.3s ease, opacity 0.3s ease,background-color 0.3s ease;
}

.card:hover{
  transform: translateY(-100px) scale(1.1) !important;
  background: linear-gradient(135deg, #cafffb, #007975) !important;
  opacity: 0.75 !important;
}

.card:active {
  transform: rotateY(30deg) skew(5deg, 5deg) scale(1.2) !important;
}

.card img {
  height: 200px;
  animation: imageAppear 2s 1s both;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.card-content p {
  font-size: 16px;
}

@keyframes imageAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes cardAppear{
  0% {
    transform: scale(0) rotate(-180deg);
    opacity: 0;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
  }
  20% {
    background: linear-gradient(135deg, #ffa2b5, #ff526f);
  }
  40% {
    background: linear-gradient(135deg, #ffccdc, #ff88aa);
  }
  60% {
    background: linear-gradient(135deg, #85ffb5, #0b8a03);
  }
  80% {
    background: linear-gradient(135deg, #67e89c, #067b00);
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    background: linear-gradient(135deg, #67ffae, #084d00);
  }
}